version: '3'
services:
        web:
                      image: flask
                      build: .
                      env_file:
                              - .env
                      ports:
                              - "8304:8304"
                      volumes:
                              - ./instance:/instance
                      restart: unless-stopped
